In [1]:
#Series -- 1-D array to store any data type
import pandas as pd

data=['a', 'b', 'c', 'd', 'e', 'f']
index=range(len(data))
a = pd.Series(data, index=index)
print(a)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [2]:
#Series -- 1-D array to store any data type
import pandas as pd

data=[[1,2], [1,3], [1,4]]
index=range(len(data))
a = pd.Series(data, index=index)
print(a)

0    [1, 2]
1    [1, 3]
2    [1, 4]
dtype: object

In [3]:
#Series -- 1-D array to store any data type
import pandas as pd

data=[{'a':0, 'b':7, 'c':6, 'd':4, 'e':1, 'f':3}]
index=range(len(data))
a = pd.Series(data, index=index)
print(a)

0    {'a': 0, 'b': 7, 'c': 6, 'd': 4, 'e': 1, 'f': 3}
dtype: object

In [4]:
#Series -- 1-D array to store any data type -- here dictionary
import pandas as pd

data={'a':0, 'b':7, 'c':6, 'd':4, 'e':1, 'f':3}
a = pd.Series(data)
print(a)

a    0
b    7
c    6
d    4
e    1
f    3
dtype: int64

In [5]:
import pandas as pd
data={'Name': ['John', 'William', 'Ian', 'Noah'], 'Age':[12, 15, 13, 12]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0     John   12
1  William   15
2      Ian   13
3     Noah   12

In [6]:
#Two columns or attributes with index values starting from 0 to 3
import pandas as pd

data={'Name':['John', 'William', 'Ian', 'Noah'],'Age':['12', '15', '13', '12']} 
df = pd.DataFrame(data)

print(df)

      Name Age
0     John  12
1  William  15
2      Ian  13
3     Noah  12

In [ ]:
#Use two dictionaries to create a data frame
d1 = {'a':1, 'b':3, 'c':5}
d2 = {'a':3, 'b':2, 'c':5, 'd':6}
data = {'first':d1, 'second':d2}
df = pd.DataFrame(data)
print(df)

In [ ]:
#Now use multiple series to create a data frame
l1 = pd.Series([1, 2, 3, 4, 5])
l2 = pd.Series([2, 4, 6, 8])
l3 = pd.Series([3, 9, 12])

data = {'first':l1, 'second':l2, 'third':l3}
df = pd.DataFrame(data)
print(df)

In [ ]:
#Use a list now to create a dataframe
import pandas as pd
strlist = ['I', 'love', 'data', 'mining']
df = pd.DataFrame(strlist)
print(df)

In [ ]:
#You can transpose your data 
import pandas as pd
l1 = [1,2,3,4,5]
l2 = [1,2,3,4]
l3 = [1,2,3]
data = [l1, l2, l3]
df = pd.DataFrame(data, ['l1', 'l2', 'l3'])
df1 = pd.DataFrame(data, ['l1', 'l2', 'l3']).T
print(df)
print(df1)

In [ ]:
#Create a dataframe and print only two columns -- name and address
import pandas as pd

data={'Name':['John', 'Jim', 'Ashley', 'Aimee', 'Jeff'],'Age':[24, 25, 22, 23, 27], 'Address': ['New York', 'Arizona','Minnesota', 'California', 'New York'], 'Qualification': ['MS', 'BS', 'BS', 'MS', 'PhD']}
df = pd.DataFrame(data)
print(df)
print(df['Name'])
print(df['Address'])

In [ ]:
#Upload a file to the notebook 
from google.colab import files
uploaded = files.upload()

In [ ]:
#We have uploaded nba.csv in the previous code. Now use that for the further data analysis

import pandas as pd
data = pd.read_csv("nba.csv", index_col="Name")
first=data["Age"]
print(first)

In [ ]:
import pandas as pd
data = pd.read_csv("nba.csv", index_col= "Name")
#data.loc pulls a row 
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first)
print(second)

In [ ]:
#read 23rd row
import pandas as pd
data = pd.read_csv("nba.csv", index_col= "Name")
test = data.iloc[23]
print(test)

In [ ]:
#Count the number of rows
data['Team'].count()

In [ ]:
#Maximum age of the players in this dataset
data['Age'].max()

In [ ]:
#What are the teams that have players from Stanford
data['Team'][data['College']=='Stanford']

In [ ]:
#Group the rows based on a certain common attribute 
#What are the teams that are there in our dataset

data.groupby(['Team']).groups.keys()

In [ ]:
#How many players are there from each team in our dataset 
data.groupby('Team')['Age'].count()

In [ ]:
#How do we find the summary of the dataframe
print(data.info())

#### Class Exercise

####Q.1

In [ ]:
#Retrieve a row by their index -- index=3
print(data.iloc[3])

####Q.2

In [ ]:
#Find the number of rows and columns
#approach-1

rows=len(data)
cols=len(data.columns)
print(rows)
print(cols)

In [ ]:
#Find the number of rows and columns
#approach-2
rows = len(data.axes[0]) 
cols = len(data.axes[1]) 
print(rows)
print(cols)

In [ ]:
#Return a list representing the axes of the DataFrame
print(data.axes)

####Q.3

In [ ]:
#number of rows with missing values

#Total number of missing values
print(data.isnull().sum().sum())
print(data.isnull())

#Across columns
print(data.isnull().sum())

#Across rows
#for i in range(len(data)):
#  print(data.iloc[i].isnull().sum())

#Now total number of rows with atleast 1 null value
nullrows=0
for i in range(len(data)):
  if (data.iloc[i].isnull().sum())>0:
    nullrows+=1

print(nullrows)

####Q.4

In [ ]:
#replace all the missing values with 0
data.fillna(0)
print(print(data.isnull().sum().sum()))